* {
  font-family: 'Overpass Mono', monospace;
}

body {
  background-color: black;
  color: white;
  margin-top: 2rem;
}

header {
  position: fixed;
  top: 0;
  background-color: black;
  border: thick double #321;
}

td {
  vertical-align: top;
}
td:first-child {
  font-size: 0.75rem;
  color: gray;
}

.book.selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.book.selection {
  border: thin solid gray;
  margin: 0.25vh 0.5vw;
  padding: 0.5vh 1vw;
}
.book.highlight {
  border: thin outset gold;
  border-radius: 1vh;
}

.chapter.selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chapter.link {
  border: thin solid white;
  border-radius: 1vw;
  margin: 0.1vh 0.1vw;
  padding: 0.5vh 0.7vw;
  color: white;
  text-decoration: none;
}
.chapter.link.highlight {
  border: thin outset gold;
  border-radius: 0;
}